<span
  class="btn btn-circle btn-square btn-ghost btn-soft btn-primary btn-secondary btn-accent btn-success btn-info btn-warning btn-error"
></span>

<span
  class="badge badge-primary badge-secondary badge-accent badge-success badge-info badge-warning badge-error"
></span>

<span
  class="alert alert-dash alert-outline alert-soft alert-success alert-info alert-warning alert-error"
></span>

<span class="collapse collapse-arrow collapse-plus"></span>

<span class="tabs tabs-border tabs-lift tabs-box"></span>

<span
  class="tooltip tooltip-primary tooltip-secondary tooltip-accent tooltip-success tooltip-info tooltip-warning tooltip-error"
></span>

<span
  class="step step-primary step-secondary step-accent step-success step-info step-warning step-error"
></span>
