<div
  class="alert alert-soft alert-outlined alert-dashed alert-info alert-success alert-error alert-warning"
></div>

<button
  class="btn btn-circle btn-square btn-xs btn-ghost btn-soft btn-outlined btn-primary btn-secondary btn-accent btn-success btn-info btn-warning btn-error sm:btn-sm md:btn-md xl:btn-lg 2xl:btn-xl"
></button>

<div
  class="card card-side card-xs sm:card-sm md:card-md xl:card-lg 2xl:card-xl"
>
  <div class="card-body">
    <div class="card-title"></div>
    <div class="card-actions"></div>
  </div>
</div>

<div class="collapse-plus collapse-arrow collapse-open"></div>
