<!-- Accordion styles -->
<div class="collapse collapse-arrow"></div>
<div class="collapse collapse-plus"></div>

<!-- Alert styles -->
<div class="alert alert-info"></div>
<div class="alert alert-success"></div>
<div class="alert alert-warning"></div>
<div class="alert alert-info"></div>
<!-- Soft -->
<div class="alert alert-soft alert-info"></div>
<div class="alert alert-soft alert-success"></div>
<div class="alert alert-soft alert-warning"></div>
<div class="alert alert-soft alert-info"></div>
<!-- Outline -->
<div class="alert alert-outline alert-info"></div>
<div class="alert alert-outline alert-success"></div>
<div class="alert alert-outline alert-warning"></div>
<div class="alert alert-outline alert-info"></div>
<!-- Dash -->
<div class="alert alert-dash alert-info"></div>
<div class="alert alert-dash alert-success"></div>
<div class="alert alert-dash alert-warning"></div>
<div class="alert alert-dash alert-info"></div>

<!-- Buttons -->
<button class="btn btn-primary"></button>
<button class="btn btn-secondary"></button>
<button class="btn btn-accent"></button>
<button class="btn btn-info"></button>
<button class="btn btn-success"></button>
<button class="btn btn-warning"></button>
<button class="btn btn-error"></button>
<!-- Soft -->
<button class="btn btn-soft btn-primary"></button>
<button class="btn btn-soft btn-secondary"></button>
<button class="btn btn-soft btn-accent"></button>
<button class="btn btn-soft btn-info"></button>
<button class="btn btn-soft btn-success"></button>
<button class="btn btn-soft btn-warning"></button>
<button class="btn btn-soft btn-error"></button>
<!-- Outline -->
<button class="btn btn-outline btn-primary"></button>
<button class="btn btn-outline btn-secondary"></button>
<button class="btn btn-outline btn-accent"></button>
<button class="btn btn-outline btn-info"></button>
<button class="btn btn-outline btn-success"></button>
<button class="btn btn-outline btn-warning"></button>
<button class="btn btn-outline btn-error"></button>
<!-- Dash -->
<button class="btn btn-dash btn-primary"></button>
<button class="btn btn-dash btn-secondary"></button>
<button class="btn btn-dash btn-accent"></button>
<button class="btn btn-dash btn-info"></button>
<button class="btn btn-dash btn-success"></button>
<button class="btn btn-dash btn-warning"></button>
<button class="btn btn-dash btn-error"></button>
<!-- Ghost -->
<button class="btn btn-ghost btn-primary"></button>
<button class="btn btn-ghost btn-secondary"></button>
<button class="btn btn-ghost btn-accent"></button>
<button class="btn btn-ghost btn-info"></button>
<button class="btn btn-ghost btn-success"></button>
<button class="btn btn-ghost btn-warning"></button>
<button class="btn btn-ghost btn-error"></button>
<!-- Link -->
<button class="btn btn-link btn-primary"></button>
<button class="btn btn-link btn-secondary"></button>
<button class="btn btn-link btn-accent"></button>
<button class="btn btn-link btn-info"></button>
<button class="btn btn-link btn-success"></button>
<button class="btn btn-link btn-warning"></button>
<button class="btn btn-link btn-error"></button>
<!-- Shapes -->
<button class="btn btn-wide"></button>
<button class="btn btn-circle"></button>
<button class="btn btn-square"></button>
<button class="btn btn-block"></button>

<!-- Tabs -->
<div class="tabs tabs-border"></div>
<div class="tabs tabs-box"></div>
<div class="tabs tabs-lift"></div>

<!-- Tooltips -->
<button class="tooltip tooltip-primary"></button>
<button class="tooltip tooltip-secondary"></button>
<button class="tooltip tooltip-accent"></button>
<button class="tooltip tooltip-info"></button>
<button class="tooltip tooltip-success"></button>
<button class="tooltip tooltip-warning"></button>
<button class="tooltip tooltip-error"></button>
