{% load i18n %}

<section class="grid gap-8">
  {% if form.errors %}
  <div class="toast z-10">
    <ol class="grid gap-4 max-w-2xl mx-auto">
      {% for field, errors in form.errors.items %}
      <li class="alert alert-soft alert-horizontal alert-error">
        <div class="tooltip tooltip-error" data-tip="{% trans 'Field' %}">
          <span class="badge badge-sm badge-error lg:badge-md">
            <i data-lucide="x-circle" class="size-4 lg:size-6"></i>
            <span>{{ field }}</span>
          </span>
        </div>

        <div>{{ errors }}</div>
      </li>
      {% endfor %}
    </ol>
  </div>
  {% endif %}

  <form
    class="grid gap-4"
    enctype="multipart/form-data"
    method="{{ method|default:'post' }}"
    action="{{ action|default:'' }}"
  >
    {% if csrf|default_if_none:True %}{% csrf_token %}{% endif %}

    <!---->
    {{ form }}

    <button
      type="submit"
      class="btn btn-sm btn-primary lg:btn-md xl:btn-lg 2xl:btn-xl"
    >
      <i data-lucide="send" class="size-4 lg:size-6"></i>
      {% trans 'Submit' %}
    </button>
  </form>
</section>

<script>
  // Style containers and labels
  document
    .querySelectorAll("form > div")
    .forEach((e) => e.classList.add("fieldset"));
  document
    .querySelectorAll("form > div > label")
    .forEach((e) => e.classList.add("fieldset-legend"));
  document
    .querySelectorAll("form > div > .helptext")
    .forEach((e) => e.classList.add("fieldset-label"));

  // Style inputs
  document
    .querySelectorAll("form > div > input")
    .forEach((e) =>
      e.classList.add(
        "input",
        "w-full",
        "validator",
        "focus:input-primary",
        "active:input-primary",
      ),
    );
  document
    .querySelectorAll("form > div > input[type=checkbox]")
    .forEach((e) => {
      e.classList.remove("input", "w-full");
      e.classList.add(
        "checkbox",
        "focus:checkbox-primary",
        "active:checkbox-primary",
      );
    });
  document.querySelectorAll("form > div > input[type=radio]").forEach((e) => {
    e.classList.remove("input", "w-full");
    e.classList.add("radio", "focus:radio-primary", "active:radio-primary");
  });
  document.querySelectorAll("form > div > input[type=file]").forEach((e) => {
    e.classList.remove("input");
    e.classList.add(
      "file-input",
      "focus:file-input-primary",
      "active:file-input-primary",
    );
  });
  document
    .querySelectorAll("form > div > textarea")
    .forEach((e) =>
      e.classList.add(
        "textarea",
        "w-full",
        "validator",
        "focus:textarea-primary",
        "active:textarea-primary",
      ),
    );
  document
    .querySelectorAll("form > div > select")
    .forEach((e) =>
      e.classList.add(
        "select",
        "w-full",
        "validator",
        "focus:select-primary",
        "active:select-primary",
      ),
    );

  // Style error lists
  document
    .querySelectorAll("form > div > .errorlist")
    .forEach((e) => e.classList.add("validator-hint", "text-error", "visible"));
</script>
