{% load wagtailcore_tags %}

<div class="my-4 not-prose">
  <div
    role="alert"
    class="alert alert-{{ self.style }} alert-{{ self.level }} {% if self.is_vertical %} alert-vertical {% endif %}"
  >
    <i data-lucide="{{ self.icon }}" class="size-4 lg:size-6"></i>

    <div>{{ self.message }}</div>

    <div class="flex items-center gap-1 flex-wrap">
      {% for action in self.actions %}
      <a
        href="{% if action.page %}{% pageurl action.page %}{% else %}{{ action.url }}{% endif %}"
        class="btn btn-xs {% if self.style != 'soft' %} btn-soft {% endif %} btn-{{ self.level }} md:btn-sm lg:btn-md"
      >
        {{ action.label }}
      </a>
      {% endfor %}
    </div>
  </div>
</div>
