<!-- Accordion styles -->
<div class="collapse collapse-arrow"></div>
<div class="collapse collapse-plus"></div>

<!-- Alert styles -->
<div class="alert alert-info"></div>
<div class="alert alert-success"></div>
<div class="alert alert-warning"></div>
<div class="alert alert-info"></div>
<!-- Soft -->
<div class="alert alert-soft alert-info"></div>
<div class="alert alert-soft alert-success"></div>
<div class="alert alert-soft alert-warning"></div>
<div class="alert alert-soft alert-info"></div>
<!-- Outline -->
<div class="alert alert-outline alert-info"></div>
<div class="alert alert-outline alert-success"></div>
<div class="alert alert-outline alert-warning"></div>
<div class="alert alert-outline alert-info"></div>
<!-- Dash -->
<div class="alert alert-dash alert-info"></div>
<div class="alert alert-dash alert-success"></div>
<div class="alert alert-dash alert-warning"></div>
<div class="alert alert-dash alert-info"></div>

<!-- Tabs -->
<div class="tabs tabs-border"></div>
<div class="tabs tabs-box"></div>
<div class="tabs tabs-lift"></div>
